<header>

	<nav class="navbar navbar-inverse">
		<% if(Session.isLogin){
			if(Session.level == 1){%>
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/">Coworking Space</a></li>
					<li><a href="/users">User</a></li>
					<li> <a href="/rooms">Room</a></li>
					<li><a href="/login/logout">Logout</a></li>
				</ul>
			</div>
			<%}else if(Session.level == 3){%>
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><a href="/">Coworking Space</a></li>
						<li><a href="/users">Profile</a></li>
						<li> <a href="/rooms">Room</a></li>
						<li><a href="/login/logout">Logout</a></li>
					</ul>
				</div>
				<%}else if(Session.level == 2){%>
					<div class="container-fluid">
						<ul class="nav navbar-nav">
							<li><a href="/">Coworking Space</a></li>
							<li><a href="/users">Profile</a></li>
							<li><a href="/login/logout">Logout</a></li>
						</ul>
					</div>
					<%}%>

						<%}else{%>
							<div class="container-fluid">
								<ul class="nav navbar-nav">
									<li><a href="/">Coworking Space</a></li>
									<li><a href="/login">Login</a></li>
								</ul>
							</div>
							<%}%>

	</nav>
</header>