<body>
    <header>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/users">User</a>
            <a href="/rooms">Room</a>
            <a href="/rents">Sewa</a>
            <a href="/login">Login</a>
        </div>
    </header>