
	<header id="header" class="alt" style = "background-image: url(/images/tes.png);">
				<div class="inner">
					<h1>Coworking Space</h1>
					<p>Connecting the People</p>
					<form action="/booking/search" method="post" accept-charset="utf-8" >
						<input type="text" class="form-control" name="city" placeholder="Search City..." autofocus>
						<div >
							<button type="submit" class="btn btn-info">
	     						<span class="glyphicon glyphicon-search"></span>
	    					</button>
						</div>
						
					</form>
					
				</div>
	</header>

