#myCarousel{
	position: relative;
	height: 80%;
    width: 100%; 
}

img {
    width: 50%;
    opacity: 0.9
}

body {
	background-color: white;
}

#login{
	width: 22%;
	 margin-top: 66px;
}

#signup {
	width: 26%;
	margin-top: 50px;
}

