<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.pinimg.com/736x/a1/20/cd/a120cd2762ee755bc3c7035120291547--coworking-space-workspaces.jpg">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>