<% include ../partials/head%>


		<!-- Header -->
		<% include ../partials/menu%>
			
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="images/pic01.jpg" alt="" /></a>
								<h3>Ruang Tidurnya Azharie	</h3>
							</header>
							<p>A beautifully designed workspace located in the heart of District 2. The Hive Saigon is designed for your way of working and living – a comfortable and welcoming environment where your business can thrive.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/pic02.jpg" alt="" /></a>
								<h3>Kostan nya Amel</h3>
							</header>
							<p>Highly supportive of encouraging active professional independents in the pursuit of their goals, BizDojo offers an efficient workspace made for getting things done, fostering a collaborative culture and connecting with other like minded individuals.
							</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/pic03.jpg" alt="" /></a>
								<h3>Bekasi cuyy</h3>
							</header>
							<p>FThis is where work and life meld together. Another venue in the commercial and dynamic Shanghai hub of China under the umbrella of the Naked Hub brand, Fuxing Lu sits in the shopaholics dream destination where retail therapy can be had during your coffee break. Only steps away from the Shanxi Nan Lu Metro stop, you will have an expansive 360-degree view of the surrounding neighbourhood from your desk.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/pic04.jpg" alt="" /></a>
								<h3>Kebun Binatang Ragunan</h3>
							</header>
							<p>As the only designated MSC Malaysia Cybercentre in Johor, this is the place to be to achieve conducive business environment that provides the ecosystem to attract ICT investors and promote the growth of local ICT companies.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Etiam veroeros lorem</h2>
						<p>Phasellus ac augue ac magna auctor tempus proin<br />
						accumsan lacus a nibh commodo in pellentesque dui<br />
						in hac habitasse platea dictumst.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				

<% include ../partials/footer%>